@import '../../../themes/common';

.layout {
  min-height: $app_min_height;
}

.toolbar {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  height: 72px;
  z-index: 1000;

  .mat-toolbar {
    min-height: 72px;
  }
}
