.idea
.DS_Store
node_modules
*.log
.vscode
npm-debug.log*
yarn-debug.log*
yarn-error.log*

*.map
*.tar*
*.zip
*.rar
*.tar
*.gz
*.iso
*.exe
*.msi
*.rpm
*.deb
*.pdf
*.rtf
*.doc
*.docx
*.xls
*.xlsx
*.csv
*.ppt
*.pptx
package-lock.json
superstatic.json
dist
