<div class="video-panel background-color" fxLayout="column" fxLayoutGap="12px">
    <div fxFlex="nogrow">
        <button (click)="requestPermissions()" *ngIf="!haveLocalPermissions" class="request-permission" color="warn"
                mat-flat-button>
            Кликните для разрешения доступа к камере
        </button>
        <video #localVideo [hidden]="!haveLocalPermissions" autoplay class="local-video" muted></video>
        <div class="remote-video-wrapper">
            <video #remoteVideo autoplay class="remote-video"></video>
        </div>
    </div>
    <div fxFlex="shrink">
        <div fxLayout="row" fxLayoutAlign="center center">
            <button (click)="createOffer()" color="warn" mat-fab>
                <mat-icon>call</mat-icon>
            </button>
        </div>
    </div>
</div>
