@import '../../../../themes/common';

.video-panel {
  //height: 100vh;
  min-height: $app_min_height;
  overflow-y: hidden;
}

.remote-video-wrapper {
  width: 100vw;
  height: 70vh;
}

.remote-video {
  width: 100%;
}

//@media screen and (min-width: 1280px) {
//  .local-video-wrap {
//    width: 320px;
//    height: 240px;
//  }
//}
//
//@media screen and (max-width: 1279px) {
//  .local-video-wrap {
//    width: 320px / 1.5px * 100%;
//    height: 240px / 1.5px * 100%;
//  }
//}
//
//@media screen and (max-width: 959px) {
//  .local-video-wrap {
//    width: 160px;
//    height: 120px;
//  }
//}

.local-video-wrap {
  width: 20vh;
  height: 15vh;
  position: relative;
}

.local-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  border: 4px solid #{mat-color($candy-app-accent)};
  border-radius: 4px;
}

.request-permission {
  width: 100%;
}
