@import '../../../../themes/common';

.video-panel {
  //height: 100vh;
  min-height: $app_min_height;
  overflow-y: hidden;
}

.remote-video-wrapper {
  width: 100vw;
  height: 70vh;
}

.remote-video {
  width: 100%;
}

.local-video {
  width: 120px;
  position: absolute;
  right: 0;
  border: 4px solid #{mat-color($candy-app-accent)};
  border-radius: 4px;
}

.request-permission {
  width: 100%;
}
